.left-nav{
  color:#fff
}
.nav-header{
  display: flex;
  align-items: center;
  background-color: rgb(14, 14, 14);
  height:150px;

}
.left-nav-img{height: 50px;width: 50px;
margin: 0 15px;}
h1{
  margin-bottom:0 !important;
  font-size: 20px;
}